{% extends "base.html" %}

{% block title %}Add Member{% endblock %}

{% block content %}
    <h1>Add a new member</h1>
    <form method="post">
        <h3>Employee type</h3>
        <p>

            <input type="radio" id="Parent" name="type" value="Parent">
            <label for="Parent">Parent</label>
            <input type="radio" id="Staff" name="type" value="Staff">
            <label for="Staff">Staff</label>
            <input type="radio" id="Student" name="type" value="Student">
            <label for="Parent">Student</label>
            <input type="radio" id="Teacher" name="type" value="Teacher">
            <label for="Staff">Teacher</label><br>
        </p>


        <p>
            First name:
            <input type="text" name="fname">
        </p>
        <p>
            Last Name:
            <input type="text" name="lname">
        </p>
        <p>
            Joining Date:
            <input type="date" name="doj">

        </p>
        <p>
            Gender:&nbsp;&nbsp;&nbsp;
            <input type="text" name="gender">
        </p>
        <p>
            Birth Date:

            <input type="date" name="dob">


        </p>
        <button type="submit">Create</button>
    </form>
{% endblock %}
