{% extends "base.html" %}

{% block title %}Employee list{% endblock %}

{% block content %}
    <h1>Employee list</h1>
    <table id="t01">
      <tr>
          <th>Emp ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Hire Date</th>
      </tr>
      {% for member in members %}
        <tr>
            <td>{{ member.empid }}</td>
            <td>{{ member.fname }}</td>
            <td>{{ member.lname }}</td>
            <td>{{ member.hdate }}</td>
        </tr>

        {% endfor %}
    </table>

    <button><a href="{{ url_for('welcome') }}">Home Page</a></button>

{% endblock %}
